// Variables
$color-orange: #ED5B1D;
$color-white: #fff;
$color-black: #000;
$color-gray: #4B4B4B;
$color-blue: #0D4491;
$color-green: #6FBD05;

body{
	font-family: 'Open Sans';
}
#wrap{
	float: left;
	width: 100%;
}
a{
	&:hover, &:visited, &:focus{
		text-decoration: none;
		outline: none; 
		outline: 0;
	}
}
.img-shadow{
	box-shadow: 0 6px 8px 0 rgba(144,144,144,0.5);
}
.btn-default{
	font: 800 12px/17px 'Open Sans';
	padding: 20px 55px;
	border-radius: 30px;
	border: 1px solid $color-white;
	text-transform: uppercase;
	display: inline-block;
	color: $color-white;
	text-decoration: none;
	transition: all 0.25s ease-in-out 0s;

	& *{
		transition: all 0.25s ease-in-out 0s;
	}

	&:hover, &:active, &:visited, &:focus{
		text-decoration: none;
		color: inherit;
	}

	&.white{
		background-color: $color-white;
		color: $color-orange;
	}
	&.orange{
		border-color: #F37125;
		background-color: #F37125;
		color: $color-white;

		i{
			color: transparent;
			font-size: 15px;
		}
	}
	&.green{
		border-color: $color-green;
		background-color: $color-green;
		color: $color-white;
	}
}
.text-center{
	text-align: center;
}
.text-right{
	text-align: right;
}
.animated-modal{
	border-radius: 8px;	
}
.bt-mobile{
	display: none;
	margin-top: 30px;
	text-align: center;
}
.show-mobile{
	display: none;
}
.hide-mobile{
	display: block;
}
#selectedItemList{
	width  : 600px;
	max-width  : 600px;
	margin: 0;

	h2{
		font: 400 24px/33px 'Open Sans';
		color: $color-gray;
		margin: 0 0 35px;
		text-align: center;
	}

	ul#itemsSelected{
		margin: 0; 
		padding: 0;

		li{
			list-style: none;
			padding: 20px;
			border: 1px solid #dddddd;
			border-radius: 4px;
			font: 400 16px/22px 'Open Sans';
			position: relative;
			margin-top: 10px;

			i{
				display: flex;
				justify-content: center;
				align-items: center; 
				position: absolute;
				right: 10px;
				top: 10px;
				border: 1px solid #dddddd;
				border-radius: 4px;
				width: 40px;
				height: 42px;
				font-size: 20px;
				cursor: pointer;
				transition: all 0.25s ease-in-out 0s;

				&:hover{
					background-color: $color-orange;
					color: $color-white;
					border-color: $color-orange;
				}
			}
		}
	}
	div.controls{
		margin-top: 20px;
		text-align: center;
	}
}

// Menu
.menu{
	width: 100%;
	position: fixed;
	left: 0;
	bottom: 0;
	z-index: 600;
	background-color: $color-white;
	transition: 0.25s ease-in-out 0s;

	&.menu-hidden{
		transform: translateY(71px);
	}

	div.title{
		margin: 35px 0;
		span{
			font: 400 18px/24px 'Open Sans';
		}
	}

	div.list-navigation{
		display: none;

		ul{
			margin: 0;
			padding: 0;

			li{
				list-style: none;
				display: inline-block;
				margin-bottom: 20px;

				a{
					text-align: center;
					border: 1px solid #d5e0eb;
					border-radius: 4px;
					display: inline-block;
					box-sizing: border-box;
					width: 100%;
					padding: 25px;
					font: 400 16px/22px 'Open Sans';
					color: $color-gray;
					transition: 0.25s ease-in-out 0s;

					&:hover{
						text-decoration: none;
						background-color: $color-orange;
						border-color: $color-orange;
						color: $color-white;
					}
				}
			}
		}
	}
	div.actions{
		width: 100%;
		text-align: center;
		border-top: 1px solid #d5e0eb;	
		position: relative;	
		
		a.navigation{
			padding: 25px 0;
			width: 100%;
			display: inline-block;
			font: 400 14px/17px 'Open Sans';
			color: $color-gray;
			position: relative;
			z-index: 5;

			&:hover{
				text-decoration: none;
			}
		}
		a.count-selected{
			display: inline-block;
			position: absolute;
			right: 0;
			top: 9px;
			border-radius: 100%;
			width: 50px;
			height: 50px;
			color: $color-white;
			background-color: $color-green;
			transition: 0.25s ease-in-out 0s;
			transform: translateY(100px);
			z-index: 10;

			span{
				display: inline-block;
				margin-top: 14px;
				font: 700 18px/22px 'Open Sans';
			}
		}
	}
}
div#layer{
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	background-color: $color-black;
	background-color: rgba(0,0,0,0.7);
	z-index: 500;
	width: 100%;
	height: 100%;
}
div#wrap{
	position: relative;
}
section#topo{
	background-color: #00305D;
	
	div.title{
		background: url('../images/img-header-background-1440x400.jpg') no-repeat center top; 
		background-size: cover;
		min-height: 300px;
		text-align: center;
		color: $color-white;
		padding: 95px 0 0 0;
		min-height: 400px;

		.title-box{
			span{
				font: 400 18px/24px 'Open Sans';
				color: $color-white;
				display: inline-block;
				margin-top: 10px;
			}
		}
	}
	div.buttons{
		margin-top: 35px;

		.btn-default{
			margin: 0 8px;
		}
	}
	.anuncie{
		min-height: 280px;
		padding: 60px 0;
		color: $color-white;

		.anun-title{
			text-align: center;
			background: url('../images/img-quadrados.svg') no-repeat center top; 

			p{
				margin: 80px 0 0;
				font: italic 700 28px/38px 'Open Sans';
			}
		}
		.anun-content{
			p{
				margin: 15px 0 0;
				font: 400 16px/28px 'Open Sans';
				color: $color-white;
			}
		}
	}
}

section#sites{
	border-bottom: 5px solid #F0F0F0;

	.logo-list{
		text-align: center;
		padding: 20px 0;

		a{
			display: inline-block;
			margin: 0 25px;
		}
	}
}
section.slides{	
	min-height: 880px;
	padding-bottom: 65px;

    .slider-header{
    	overflow: hidden;
    	h3{
    		float: left;
    		font: 800 26px/36px 'Open Sans';
    		color: $color-blue;

    		span{
    			font: italic 300 26px/36px 'Open Sans';
    			color: #4B4B4B;
    			display: inline-block;
    			margin-left: 14px;
    		}
    	}
    	.btn-default{
    		float: right;
    		margin-top: 15px;
    		padding-right: 60px;

    		&.active{
    			background-color: #6FBD05;
    			border-color: #6FBD05;
    			text-decoration: none;

    			i{
    				color: $color-white;
    			}
    		}
    	}
    }
    .slider-content{
    	h4{
    		font: 300 44px/60px 'Open Sans';
    		color: #4B4B4B;

    		span{
    			color: $color-orange;
    		}

    		&.medium{
    			font-size: 36px;
    			line-height: 50px;
    		}
    	}
    	div.item{
    		padding: 0 70px;

    		strong.title{
    			font: 800 16px/26px 'Open Sans';
    			color: $color-orange;
    			margin-top: 30px;
    			display: inline-block;
    		}
    		p{
    			font: 400 14px/26px 'Open Sans';
    			color: $color-gray;
    		}
    	}
    }
	
	section{
		width: 100%;
		padding: 60px 0;
		background: linear-gradient(180deg, $color-white 0%, #F4F4F4 100%);

		.slider-content{
			padding: 0 60px;
		}
	}
	section#paginaDeProduto{
		.slider-content{
			margin-top: 35px;

			h4{
				margin: 140px 0 125px;
			}
			.img-desc{
				width: 185px;
    			float: right;

    			strong{
    				font: 800 16px/26px 'Open Sans';
    				color: $color-orange;
    			}
    			p{
    				font: 400 14px/26px 'Open Sans';
    				color: $color-gray;
    			}
			}
		}
	}

	section#busca{
		width: 100%;
		
		.slider-content{
			.box-img-floating{
				position: relative;
				min-height: 430px;

				img{
					position: absolute;
					left: 0;
					top: 0; 

					&.img1{
						top: 110px;
						left: 0;
						z-index: 10;
					}
					&.img2{
						top: 15px;
						left: 145px;
						z-index: 20;
					}
					&.img3{
						top: 30px;
						left: 390px;
						z-index: 30;
					}
					&.img4{
						top: 45px;
						left: 630px;
						z-index: 40;
					}
				}
			}
		}
	}

	section#emailMkt{
		.slider-content{

			.texts{
				float: left;
				min-width: 215px;
				margin-right: 15px;

				p{
					font-size: 22px;
					line-height: 22px;
					color: $color-gray;

					strong{
						font: 700 44px/50px 'Open Sans';
    					color: $color-orange;
					}
				}
			}
			div.box-content{
				margin-top: 40px;
			}
		}
	}

	section#produtosPatrocinados{
		.slider-content{
			margin-top: 15px; 

			h4{
				margin: 190px 0 0;
			}
			h5{
				font: 300 24px/32px 'Open Sans';
				margin-top: 25px;
			}			
		}
	}

	section#midiaExterna{
		.slider-content{
			
			h4{
				margin: 30px 0 95px;
			}
			.texts{
				margin-top: 15px;

				&.last{
					margin-top: 130px;
				}
			}
			.texts + .texts{
				margin-top: 45px;
			}
			h5{
				font: 700 22px/32px 'Open Sans';
				margin: 0 0 10px;
				color: $color-orange;
			}
			p{
				font: 300 20px/32px 'Open Sans';
				margin: 0;
			}			
		}
	}

	section#redesSociais{
		.slider-content{
			
			h4{
				margin: 30px 0 35px;
			}
			h5{
				font: 300 22px/32px 'Open Sans';
				margin: 0 0 10px;
			}
			p{
				font: 300 20px/32px 'Open Sans';
				margin: 0;
			}

			.box-content{
				margin-top: 25px;
				float: left;
				width: 100%;

				h6{
					font: 700 20px/32px 'Open Sans';
					margin: 25px 0 5px;
				}
				p{
					font: 300 16px/26px 'Open Sans';
					margin: 0;
				}

				div.desc-text{
					margin-top: 20px;

					strong{
						font: 800 34px/32px 'Open Sans';
						color: $color-orange;

						span{
							font: 800 14px/22px 'Open Sans';
							color: $color-blue;
						}
					}
				}
			}

		}
	}

	section#mobile{
		.img-mobile{
			display: none;
		}
		.slider-content{
			padding: 0 30px;
			
			h4{
				margin: 5px 0 20px;
			}
			h5{
				font: 700 22px/32px 'Open Sans';
				margin: 30px 0 10px;
				color: $color-orange;
			}
			p{
				font: 300 18px/32px 'Open Sans';
				margin: 0;
			}

			.last p{
				font-size: 16px;
				line-height: 26px;
				margin-top: 45px;
				font-weight: 400;

				i{
					font-size: 30px;
					margin-bottom: 10px;
				}
			}			
		}
	}
	
	// Setas e bullets de navegação do carrossel
	.control-arrows{
		position: absolute;
		top: 50%;
		left: 0;
		width: 100%;
		z-index: 999;

		a{
			display: inline-block;
			font-size: 60px;
			color: $color-gray;
			position: relative;
			transition: all 0.25s ease-in-out 0s;

			span{
				display: inline-block;
				width: 27px;
				height: 100px;				
			}

			&.prev{
				float: left;
				background: url('../images/img-nav-esq.png') no-repeat 0 0;
				left: -120px;

				&:hover{
					left: -130px;
				}
			}
			&.next{
				float: right;
				background: url('../images/img-nav-dir.png') no-repeat 0 0;
				right: -120px;

				&:hover{
					right: -130px;
				}
			}
		}
	}
	div.control-bullets{
		background-color: $color-white;
		
		.container{
			position: relative;			
			padding: 40px 0 30px;
		}

		.btn-default{
			position: absolute;
		    right: 0;
		    top: 17px;
		}
	}
	div#nav{
		margin: 0;
		padding: 0;
		text-align: center;

		span{
			height: 15px;
			width: 15px;
			display: inline-block;
			color: $color-white;
			border-color: $color-gray;
			background-color: $color-white;
			border: 1px solid $color-gray;
			border-radius: 100%;
			cursor: pointer;
			margin: 0 13px;

			&.cycle-pager-active{
				background-color: $color-blue;
				border-color: $color-blue;
				color: $color-blue;
			}
		}
	}
}

// Responsivo

// Para 1440px
@media (max-width: 1024px){
	section.slides{
		.slider-content{
			h4.medium{
				font-size: 34px;
			}
		}
		section#busca{
			.slider-content{
				.box-img-floating{
					img{
						max-width: 300px;

						&.img3{
							left: 310px;
						}
						&.img4{
							left: 510px;
						}
					}
				}
			}
		}
		section#emailMkt{
			.slider-content{
				img{
					max-width: 550px;
				}
			}
		}
		section#produtosPatrocinados{
			.slider-content{
				h4.medium, h5{
					br{
						display: none;
					}
				}
			}
		}
		section#redesSociais{
			.slider-content{
				h5{
					br{
						display: none;
					}
				}
			}
		}
		section#mobile{
			.slider-content{
				img{
					width: 190px;
				}
				p{
					br{
						display: none;
					}
				}
				.last{
					p{
						i{
							display: inline-block;
							width: 100%;
						}
					}
				}
			}
		}
	}
}
@media (max-width: 768px){
	section#topo{
		.anuncie{
			padding: 0 0 40px;
			margin-top: 15px;

			.anun-title{
				padding-top: 80px;
				padding-bottom: 10px;
				background-size: 80%;

				p{
					margin-top: 0;
				}
			}
			.anun-content{
				p{
					br{
						display: none;
					}
				}
			}
		}
	}
	section#sites{
		.logo-list{
			a{
				max-width: 150px;

				img{
					width: 100%;
				}
			}
		}
	}
	section.slides{
		section{
			padding: 35px 0;

			.slider-content{
				padding: 0;

				h4.medium{
					font-size: 26px;
					line-height: 40px;
				}

				div.item{
					padding: 0 15px;
					max-width: 300px;
					margin: 0 35px;

					img{
						width: 100%;
					}
				}
			}
		}
		.slider-header{
			h3{
				font-size: 22px;
				line-height: 30px;
				max-width: 448px;

				span{
					width: 100%;
					margin-left: 0;
					font-size: 20px;
					line-height: 27px;
				}
			}
		}
		.slider-content{
			h4{
				font-size: 36px;
				line-height: 46px;
			}
		}

		section#busca{
			.slider-content{
				.box-img-floating{
					img{
						&.img1{
							display: none;
						}
						&.img2{
							left: 15px;
						}
						&.img3{
							left: 230px;
							top: 50px;
						}
						&.img4{
							left: 435px;
							top: 85px;
						}						
					}
				}
			}
		}
		section#emailMkt{
			.slider-content{
				img{
					max-width: 455px;
    				margin-top: 20px;
				}
			}
		}
		section#produtosPatrocinados{
			.slider-content{
				h4, h5{
					br{
						display: none;
					}
				}
			}
		}
		section#midiaExterna{
			.slider-content{
				h4{
					margin-bottom: 40px;
				}
				h5{
					font-size: 20px;
				}
				p{
					font-size: 16px;
					line-height: 28px;
				}
				.texts{
					&.last{
						margin-top: -110px;
					}
				}
			}
		}
		section#mobile{
			.slider-content{
				p{
					font-size: 16px;
					line-height: 28px;

					br{
						display: none;
					}
				}
				h5{
					margin-top: 15px;
				}
				.last{
					p{
						max-width: 33%;
						float: left;
						padding: 0 10px;
					}
				}
			}
			.img-desk{
				display: none;
			}
			.img-mobile{
				display: block;
			}
		}
	}
}

@media (max-width: 767px){
	.img-responsive{
		width: 100%;
		max-width: 100%;
	}
	.show-mobile{
		display: block;
	}
	.hide-mobile{
		display: none;
	}
	.bt-mobile{
		display: block;
	}
	section#topo{
		div.title{
			padding-top: 75px;

			.title-box{
				img{
					width: 77%;
				}
				span{
					font-size: 13px;
					line-height: 18px;
				}
			}
		}
		div.buttons{
			.btn-default{
				padding: 15px 60px;
			    width: 80%;
			    box-sizing: border-box;
			    margin: 10px 0;
			}
		}
		.anuncie{
			background: url(../images/img-quadrados.svg) no-repeat center 0;
			background-size: 100%;
			min-height: 240px;

			.anun-title{
				background-image: none;
				padding-top: 15px;
				padding-bottom: 0;

				p{
					font-size: 14px;
					line-height: 19px;
				}
			}
			.anun-content{
				p{
					font-size: 12px;
					line-height: 22px;
				}
			}
		} 
	}
	section#sites{
		.logo-list{
			padding-bottom: 0;

			a{
				width: 30%;
				margin-bottom: 20px;

				&:nth-child(3){
					img{
						max-width: 40px;
					}
				}
			}
		}
	}
	section.slides{
		section{
			padding-top: 10px;
		
			.slider-header{
				h3{
					font-size: 16px;
				    line-height: 22px;
				    max-width: 100%;

				    span{
				    	font-size: 16px;
				    	line-height: 22px;
				    }
				}
				.btn-default{
					display: none;
				}
			}
			.slider-content{
				h4{
					font-size: 26px;
				    line-height: 36px;
				    margin-top: 0;

				    &.medium{
				    	font-size: 22px;
				    	line-height: 31px;
				    	text-align: center;
				    }

				    br{
				    	display: none;
				    }
				}
				.item + .item{
					margin-top: 30px;
				}
			}
		}
		section#paginaDeProduto{
			.slider-content{
				margin-top: 0;

				h4{
					margin: 0 0 25px;
					br{
						display: none;
					}
				}
				.img-desc{
					float: none;
					text-align: left; 
				}

				img{
					margin-bottom: 25px;
				}
			}
		}
		section#busca{
			.slider-content{
				.box-img-floating{
					min-height: 100%;

					img{
						position: static;
						display: none;
						max-width: 100%;

						&.img2{
							display: block;
						}
					}
				}
			}
		}
		section#emailMkt{ 
			.slider-content{
				.texts{
					text-align: center;
					width: 100%;
					max-width: 100%; 

					p{
						font-size: 16px;
						line-height: 16px;
						width: 220px;
						padding: 30px 40px;
						background-color: $color-white;
						border-radius: 4px;
						border: 1px solid #dedddd;
						margin: 0 auto 20px;

						strong{
							font-size: 24px;
							line-height: 30px;
							display: inline-block;
							width: 100%;
						}
						br{
							display: none;
						}
					}
				}
			}
		}
		section#produtosPatrocinados{
			.slider-content{
				h4{
					margin: 0 0 25px;
				}
				h5{
					font-size: 12px;
					line-height: 24px;
				}
			}
		}
		section#midiaExterna{
			.slider-content{
				.texts.last{
					margin-top: 45px;
				}
				.image{
					margin: 25px 0;
				}
			}
		}
		section#redesSociais{
			.slider-content{
				h4{
					margin: 0 0 25px;
				}
				h5{
					font-size: 13px;
					line-height: 26px;
					text-align: left;
				}
				.box-content{
					h6{
						margin: 0;
						font-size: 20px;
						line-height: 32px;
					}
					p{
						font-size: 12px;
						line-height: 20px;
					}	
					div.desc-text{
						width: 33.333%;
						float: left;
						margin-top: 10px;

						strong{
							font-size: 16px;
							line-height: 20px;

							span{
								font-size: 10px;
								line-height: 8px;
								display: inline-block;
								width: 100%;
							}
							br{
								display: none;
							}
						}
					}
					.numbers{
						margin-bottom: 25px;
					}				
				}

				.img{
					text-align: center;
					img{
						max-width: 60px;
					}
				}
			}
		}
		section#mobile{
			.slider-content{
				padding: 0;

				.img{
					text-align: center;
					margin-top: 25px;
				}
			}
		}
	}
	
}